<configuration>
  <location path="special_directory_name_here">
   <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect from blog">
          <match url="^word/([0-9]+)" />
            <action type="Redirect" url="/" redirectType="Found" />
          </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="true" />
    <handlers>
      <add 
        name='HTM-TO-ASP' 
        path='*.html' 
        verb='*' 
        modules='IsapiModule' 
        scriptProcessor='C:\windows\system32\inetsrv\asp.dll' 
        resourceType='File' 
        requireAccess='Script'/>
    </handlers>
   </system.webServer>
  </location>
</configuration>